.add-user-main-div {
    position: relative;
    width: 209.7vh;
    height: 100vh;
    background-image: linear-gradient(to right, #cccc00, #cc9900);
}

.add-user-div {
    position: absolute;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    border: 5px solid black;
    border-radius: 18px;
    background-image: linear-gradient(to right, #ccff66, #ccff33);
}

.name-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    padding: 15px;
}

.name-div > label {
    font-size: 2vmax;
    margin-right: 100px;
}

.name-div > input {
    padding-left: 20px;
    font-size: 1.8vmax;
}

.time-div {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    display: inline-block;
}

.time-div > label {
    position: absolute;
    width: 100%;
    font-size: 2.5vmax;
    text-align: center;
}

.time-div > p {
    position: relative;
    display: inline;
    font-size: 3.5vmax;
    margin-left: 75px;
    margin-right: 75px;
    top: 40%;
}

#addButton {
    position: relative;
    top: 80%;
    width: 80%;
    height: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    font-size: 3vmax;
}

#backButton {
    position: absolute;
    top: 80%;
    left: 80%;
    width: 10%;
    height: 10%;
    border-radius: 30px;
    font-size: 2vmax;
    background-color: #ffcc66;
    border: 5px solid black;
}

#backButton :hover{
    background-image: linear-gradient(to right, #ffff99, #ffcc66);
    font-size: 1vmax;
}

#AddButton {
    position: fixed;
    width: 12%;
    height: 10%;
    top: 80%;
    left: 80%;
    border-radius: 18px;
    border: 5px solid black;
    font-size: 2vmax;
    background-color: #cc9900;
}

.set-time-div {
    position: absolute;
    border: 5px solid black;
    border-radius: 18px;
    display: none;
    background-image: linear-gradient(to right, #99ccff, #9900cc);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    z-index: 1;
}

.set-time-div > input {
    width: 80%;
    left: 50%;
    transform: translateX(10%);
    margin-top: 10px;
    margin-bottom: 5px;
    height: 15%;
    font-size: 1.8vmax;
}

.set-time-div > button {
    width: 35%;
    height: 25%;
    font-size: 1.2vmax;
    margin-top: 30px;
    margin-left: 70px;
    display: inline;
    background-color: #ffccff;
    border-radius: 7px;
}

.set-time-div > p {
    text-align: center;
    font-size: 2vmax;
    font-weight: bold;
}

.set-time-div-appearence {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    animation: ease 1s divAppearence;
}

@keyframes divAppearence {
    0% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.01%;
        height: 0.01%;
    }
    100% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 60%;
    }
}

